/* Global Styles */
svg {
  fill: #1C1723;
  max-width: 60%;
  display: block;
  margin: auto;
  padding-top: 10em;
  stroke: #1C1723;
  stroke-width: 2px;
}

body {
  max-width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/*start nav*/
/* header */

.header {
  background-color: #1C1723;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #1C1723;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #1C1723;
  text-decoration: none;
  color: white;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #1C1723;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
  max-height: 70px;
  background-color: #1C1723;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #1C1723;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* 48em = 768px */

@media screen and (min-width: 850px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/*end nav*/

main {
  padding: 3em;
  padding-top: 6em;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  color: black;
  border: 4px solid black;
  padding: .5em;
  margin-top: 1em;
  font-family: Montserrat, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  font-size: 1em;
  transition-duration: 0.2s;
  letter-spacing: 1px;
}

h1{
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

h2{
  font-family: Lora, Georgia, serif;
  font-weight: 700;
  font-size: 1em;
}

p, li, a{
  font-family: Lora, Georgia, serif;
  line-height: 1.5em;
}

ul, li {
  list-style: none;
}

@media screen and (min-width: 850px) {
h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
}
}

/* Start Footer*/
footer {
  display: flex;
  background-color: #1C1723;
  padding: 1em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  font-size: 1.25em;
}

.footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social {
  padding: 1em 1em;
}

footer a:visited, a:active, a:link {
  text-decoration: none;
  color: white;
}
/* End footer*/

/*Start Home Page*/
/* Home Spacing*/

.home-main {
  margin: 0 auto;
}

.home-feature {
  padding-top: 5em;
  text-align: center;
}

.home-feature-headline {
  padding-top: 2em;
  padding-bottom: 2em;
}


.latest-news {
  padding-top: 5em;
  padding-bottom: 5em;
}

.hometour {
  padding-top: 5em;
}

.newsletter {
  padding-top: 5em;
}
/* Home Header*/

#headervideo {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
}

/* Home Video iframe*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* End Home Video I Frame*/

/* Start Home News Section*/
.news-container {
  display: flex;
}

.container {
    max-width:100%;
    height: auto;
    position: relative;
		padding: 0;
		margin: 0;
		text-align: center;
    margin-top: 1em;
	}

.image1 {
		position: relative;
    height: auto;
    width: auto;
	}

.newstext{
	position: absolute;
	top: 0%; left: 0; right: 0; bottom: 0;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
  line-height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
	}

  .newstext:hover{
	    opacity: 1;
	}

	.newstext a{
	  color: white;
    text-size: .5em;
    text-decoration: none;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
	}
/* End Home News Section*/


/* Start Home Newsletter Form*/
form {
  font-family: Montserrat, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.emailform {
  border: 4px solid black;
  background: #fff;
  width: 100%;
  height: 30px;
  padding: .5em;
  margin-top: 1em;
  font-family: Montserrat, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.subscribebutton {
  border: 4px solid black;
  min-width: 25%;
  height: 50px;
  padding: .5em;
  margin-top: 1em;
  font-family: Montserrat, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  font-size: 1em;
  transition-duration: 0.2s;
  letter-spacing: 1px;
}

.subscribebutton:hover {
  background-color: black;
  color: white;
}
/* End Home Newsletter Form*/

/*Home Media Queries*/
@media screen and (min-width: 850px) {
.newsletter {
  margin: 0 auto;
  display: block;
  align-content: center;
}

.home-main {
  max-width: 70%;
}
}


/*End Home Page*/

/*Start About Page*/
.bandbio {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 5em;
}

.juliabio, .nickbio, .jacobbio {
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1em;
}

/*About Media Queries*/
@media screen and (min-width: 850px) {

  .bios {
    max-width: 80%;
    display: flex;
    margin: 0 auto;
  }

  .bandbio {
    max-width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 5em;
  }

/*End About Page*/

/*Start News Page*/
.news-entry {
  padding-bottom: 6em;
  margin: 0 auto;
}

.news-body {
  padding-bottom: 2em;
}

/*News Media Queries*/
@media screen and (min-width: 850px) {
.news-entry {
  max-width: 55%;
}
}

/*Start Tour Page*/

.tourdates {
  padding-bottom: 2em;
}

h1 {
  text-align: center;
}


/*Global Button Transition*/
.button:hover {
  background-color: black;
  color: white;
